<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="generator" content="Hugo 0.22.1" />
    <meta charset="utf-8">
    <title>Yannick François - Elsif.fr</title>

    <meta name="DC.title" content="elsif.fr, site de Yannick François aka yaf (ou ya_f)."/>
    <meta name="description" content="Le site de Yannick François. Développeur Senior, Responsable Produit, Pédagogue. Je travail chez Scopyleft"/>
    <meta name="keywords" content="code, développement, programmation, apprentissage, apprendre, lean, agile, logiciel, tdd, objet, refactoring, libre, creative commons, linux, unix"/>
    <meta name="author" content="Yannick François, https://elsif.fr"/>
    <meta name="designer" content="Yannick François, https://elsif.fr"/>
    <meta name="geo.placename" content="Poissy, Ile de france, France"/>
    <meta name="robots" content="index,follow" />
    <meta name="language" content="French" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="index" title="Yannick François / Développeur / Pédagogue" href="index.html" />
    <link rel="stylesheet" href="/css/201912-elsif.css" media="all"/>
    <link rel="alternate" type="application/rss" href="/feed.xml" title="elsif.fr/feed" />
  </head>
  <body>
    <article>
      <h1>OpenBSD: Patch</h1>
      <p>J’hésitais avec “Patcher n’est pas joué” comme titre mais bon.</p>
      <p>Me voilà donc dans une nouvelle étape de ma découverte d’OpenBSD: la mise à jour. Contrairement à Debian et aux gnu/linux en général, pas de mise à jour de noyau en même temps que la mise à jour des applications. Pas de synaptic, .deb et autre rpm. Le système ressemblerais plus à Gentoo apparement, mais n’ayant jamais essayé Gentoo, je ne me permettrais pas de l’affirmer.</p>
      <p>Donc, pour les BSD en général (je crois) et OpenBSD en particulier (j’en suis sur), le système devant passer un audit poussé, les applications sont mises à part, elles ne sont pas contrôlé par l’équipe d’OpenBSD. Elles ne bénéficie pas de la même niveau de sécurité garanti:</p>
      <blockquote>
      <p>we just do not have enough human resources to ensure the same level of robustness and security.</p>
      </blockquote>
      <p>On en reparleras plus tard ;-)</p>
      <p>Grace au site <a href="http://www.openbsd101.com/">www.openbsd101.com</a> je me suis lancé en toute tranquillité dans la mise à jour du coeur de mon système. Il y a actuellement <a href="http://openbsd.org/errata.html">3 patchs pour OpenBSD 3.9</a>. J’ai donc suivi <a href="http://www.openbsd101.com/patching.html">les instructions d’OpenBSD101.com</a>, adapté à mon architecture PowerPC évidemment. Tout c’est déroulé à merveille. Xorg est un peu long à compiler sur un mac mini mais suffit de prévoir ;-)</p>
      <p>Le patch, dit “manuel”, est une des méthodes qui permet de garder son système à jour. <a href="http://openbsd.unixtech.be/fr/stable.html">Cette page d’OpenBSD.org explique comment suivre Stable</a> mais outre le CVS, on peut très bien appliquer les patchs “à la main”. Dans mon cas, c’est ce que j’ai préféré faire. Dans cahque patch est se trouve les instructions à effectuer pour appliquer le patch.</p>
      <pre>
        {% highlight bash %}
          # head 001_sendmail.patch
          Apply by doing:
              cd /usr/src
              patch -p0
        {% endhighlight %}
      </pre>
      <p>Mais tout est très bien expliquer sur OpenBSD101 ;-)</p>
      <p>Me voilà donc Stable ! Prochaine étape, bien comprendre le système applicatif (packages ET ports).</p>
    </article>
    <footer>
      <ul>
            </ul>
    </footer>
  </body>
</html>

