!!! 5
%html{lang: 'fr'}
  %head
    %title
      elsif.fr
    = Haml::Engine.new(File.read('_header.haml')).render
  %body
    %header
      %h1
        %a.top{href: '/'}
          Les pieds dans le code

    %section.blog-posts-per-day{id: "#{day}"}
      %h2
        = "#{dow_in_letter(day)} #{day} #{month_in_letter(month)} #{year}"
      %ul
        - posts.each do |post|
          %li
            = "#{dow_in_letter(post.date.wday)} #{post.date.day}: "
            %a{href: "#{post.url}"}
              = post.title.capitalize
