%meta{name: "DC.title", content:"elsif.fr, site de Yannick François aka yaf aka pouype."}
%meta{name: "description", content:"Site personnel de Yannick François, développeur ruby, agiliste/leaniste et utilisateur d'OpenBSD"}
%meta{name: "keywords", content:"code, développement, lean, agile, logiciel, tdd, objet, ruby, site perso, personnel, ruby on rails, refactoring, openbsd, bsd, libre, creative commons, unix"}
%meta{name: "author", content:"Yannick François, http://elsif.fr"}
%meta{name: "designer", content:"Yannick François, http://elsif.fr"}
%meta{name: "geo.placename", content:"Poissy, Ile de france, France"}
%meta{name: "language", content:"French"}
%meta{name: "HandheldFriendly", content:"True"}
%meta{name: "MobileOptimized", content:"320"}
%meta{name: "viewport", content:"width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"}
%meta{name: "robots", content:"index,follow"}
%meta{charset: "utf-8"}
%meta{'http-equiv' => "Content-type", content: "text/html;charset=UTF-8"}

%link{rel: "index", title: "Yannick François / Developer", href: "http://elsif.fr"}
%link{rel: "stylesheet", href: "http://elsif.fr/elsif.css", media: "all"}
%link{rel: "author", href: "http://elsif.fr/humans.txt", type: "text/plain"}

