!!! 5
%html{lang: 'fr'}
  %head
    %title
      elsif.fr
    = Haml::Engine.new(File.read('_header.haml')).render
  %body
    %header
      %h1
        %a{href: '/'}
          Les pieds dans le code
    %section.blog-posts-per-month{id: "#{month}"}
      %h2
        = "#{month_in_letter(month)} #{year}"
      %ul
        - posts.select{|p| p.month == month}.each do |post|
          %li
            = "#{dow_in_letter(post.date.wday)} #{post.date.day}: "
            %a{href: "#{post.url}"}
              = post.title.capitalize
