!!! 5
%html{lang: 'fr'}
  %head
    %title
      elsif.fr
    = Haml::Engine.new(File.read('_header.haml')).render
  %body
    %article{itemscope:'true', itemtype:"http://schema.org/BlogPosting"}
      %header
        %h1.top{itemprop: 'headline'}
          = title
        %p
          %time{itemprop:"datePublished", datetime:"#{date.strftime('%Y-%m-%d')}"}
            :markdown
              Le #{dow_in_letter(date)} [#{date.strftime('%d')}](#{date.strftime("/%Y/%m/%d")}) [#{month_in_letter(date)}](#{date.strftime('/%Y/%m')}) [#{date.year}](/#{date.year})
        %p
          par
          %a{href:'#yannick', itemprop:"creator", itemscope:'true', itemtype:"http://schema.org/Person"}
            %span{itemprop:"name"}
              Yannick François

      %p
        :markdown
          #{post}

    %footer
      %h2
        %a.top{href:'/'}
          Les pieds dans le code
      %section#intro
        :markdown
          Je m'appel [Yannick](/#yannick). Je suis développeur. [Les pieds dans le code](articles.html) est mon blog. Il m'arrive de partager des photos/images/textes/liens/... en d'[autres endroits](/#partage). Si vous souhaitez [me contacter](/#contact), n'hésitez pas.


