!!! 5
%html{lang: 'fr'}
  %head
    %title
      elsif.fr
    = Haml::Engine.new(File.read('_header.haml')).render
  %body
    %header
      %h1
        %a.top{href: '/'}
          Les pieds dans le code

    %h2
      = "Les articles de l'année #{year}"

    %nav.month-table
      - (1..12).each do |month|
        - if months.include?(month)
          %a{href: "##{month}"}= month_in_letter(month)
        - else
          = month_in_letter(month)

    .details
      - months.each do |month|
        %section.blog-posts-per-month{id: "#{month}"}
          %h2
            = month_in_letter(month)
          %a.top{href:'#'}^
          %ul
            - posts.select{|p| p.month == month}.each do |post|

              %li
                = "#{dow_in_letter(post.date.wday)} #{post.date.day}: "
                %a{href: "#{post.url}"}
                  = post.title.capitalize
