!!! 5
%html{lang: 'fr'}
  %head
    = Haml::Engine.new(File.read('_header.haml')).render
    %title
      elsif.fr
  %body
    %header
      %h1
        %a.top{href: '/'}Les pieds dans le code

    %nav
      %ol
        - year_of_posts.each do |year|
          %li
            %a{href: "/#{year}"}=year

