!!! 5
%html{lang: 'fr'}
  %head
    = Haml::Engine.new(File.read('_header.haml')).render
    %title
      elsif.fr
  %body
    %header
      %h1
        %a.top{href: '/'}Les pieds dans le code

    %section#intro
      :markdown
        Je m'appel [Yannick](#yannick). Je suis développeur. [Les pieds dans le code](articles.html) est mon blog. Il m'arrive de partager des photos/images/textes/liens/... en d'[autres endroits](#partage). Si vous souhaitez [me contacter](#contact), n'hésitez pas.

    %section#yannick
      %h2
        A propos
      %a.top{href:'/'}^
      :markdown
        Pour parler de moi, je pense qu'il est également interessant de parler des personnes qui m'inspire, en voici quelques uns, dans une liste non ordonnée.

        * Un poète de l'espace web: <a href="http://www.la-grange.net/">Karl Dubost</a>.
        * Avec moins de poesie, mais tout autant d'avis passionant, <a href="https://larlet.fr/david/">David Larlet</a>.
        * <a href="http://ut7.fr">/ut7</a> est une coopérative de personnes très très inspirante sur des sujets diverses comme le code, les humains, la transmission de savoir, la découverte, ... Des personnes à rencontrer d'urgence
        * [@abailly (Arnaud Bailly)](https://twitter.com/abailly), un très bon développeur, doublé d'une personne charmante, aux positions toujours passionante.
        * [Bernard Notarianni](http://notarianni.org/) (un ancien d'ut7). Simplicité, franchise, passion, musique et le tout avec un bon pragmatisme qui me plais
        * C'est après un Kata présenté par <a href="https://twitter.com/ToF_">@ToF_ (Christophe Thibaut)</a> à un apéro Ruby que j'ai passé le pas et suis allé au Dojo de développement pour la première fois. En plus d'être un bon développeur, il arrive toujours à proposer une autres façon de voir les choses.
        * Et j'ajoute encore un développeur, secoueur de cocotier: <a href="http://blog.javabien.net/">David Gageot</a> qui, comme le nom de son blog l'indique (Java bien), est plutôt connu de l'univers Java et des JUG, mais je l'ai vu plus d'une fois exposé des chemins interessant sur des langages autres.
        * ..._Vous peut-être ? et sûrement d'autres que j'oublie_

        Pour me [contacter](#contacter)...

    %section#partage
      %h2
        Partage ailleurs sur le web
      %a.top{href:'/'}^
      :markdown
        Bien que les principes de web décentralisé me semble indispensable, j'ai cédé au sirène, et ce à plusieurs reprises, de site centralisateur de données, privateur de liberté... En voici une liste qui j'espère disparaitra un jour

        * Quelques <a href="http://www.flickr.com/photos/yafra">photos [yafra sur flickr]</a>
        * D'autres sur <a href="http://500px.com/ya_f">500px</a>
        * Mon Profil/CV sur <a href="http://fr.linkedin.com/in/yannickfrancois">Linkedin.com/in/yannickfrancois</a>
        * Un peu de code sur <a href="https://github.com/yaf">Github.com/yaf</a>
        * Quelques participations à <a href="http://github.com/fdv/typo">Typo</a>, le plus vieux moteur de blog en Rails
        * Une <a href="http://yaf-echo-chamber.tumblr.com/">chambre d'echo</a>
        * Quelques <a href="http://sudo-graffiti.tumblr.com/">photos de graffitis</a>
        * Des <a href="http://yaf-scrot.tumblr.com/">copies d'écran</a>
        * Des trucs à lire (ou à actionner) sur <a href="https://www.readability.com/yaf/latest">readability.com/yaf/latest</a>

    %section#contact
      %h2
        Contact
      %a.top{href:'/'}^
      :markdown
        Pour me joindre, le plus rapide, si je suis en ligne, <a href="xmpp:yannick@im.apinc.org">yannick@im.apinc.org [Jabber]</a>, ou <a href="http://twitter.com/ya_f">@ya_f</a>. Sinon, envoyez moi un mail à <a href="mailto:yannick.francois@free.fr">yannick.francois@free.fr</a>
