<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Yannick François - Les pieds dans le code</title>

    <meta name="DC.title" content="elsif.fr, site de Yannick François aka yaf aka pouype."/>
    <meta name="description" content="Yannick François's website. Senior developer, Code pedagogist. /ut7 teammate, proud member of Electrolab, the crazy hackerspace. Eternel supporter of April, a french association about freesoftware."/>
    <meta name="keywords" content="code, développement, lean, agile, logiciel, tdd, objet, ruby, site perso, personnel, ruby on rails, refactoring, openbsd, bsd, libre, creative commons, unix"/>
    <meta name="author" content="Yannick François, https://elsif.fr"/>
    <meta name="designer" content="Yannick François, https://elsif.fr"/>
    <meta name="geo.placename" content="Poissy, Ile de france, France"/>
    <meta name="robots" content="index,follow" />
    <meta name="language" content="French" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="index" title="Yannick François / Developer" href="https://elsif.fr" />
    <link rel="stylesheet" href="/css/knacss.css" media="all"/>
    <link rel="stylesheet" href="/css/elsif.css" media="all"/>
    

<article>

<h1>
  OpenBSD/PowerPC: mapping clavier mac usb
  
</h1>

<p>Et bien voilà, il manquait encore un petit quelque chose de génant: le mapping du clavier !</p>

<p>Je suis parti du principe que ça devait surement être fait un peu comme sous Debian. Effectivement, un petit: <code>cd /etc/X11/xkb</code></p>

<p>Et nous voilà dans l&rsquo;antre de la configuration clavier sous unix.</p>

<p>Même genre de fichier, je vais donc aller chercher sur le site qui m&rsquo;a beaucoup aidé pour mes premiers pas debianeux sur machine PowerPC: <a href="http://www.linux-france.org/macintosh/">Linux-france.org/macintosh</a>.</p>

<p>De là je récupère un paquet contenant le fichier qui m&rsquo;interesse: <a href="http://zone.typouype.org/fr_new">le fichier de mapping du clavier Mac USB</a></p>

<p>Je relis vite fais les instructions puis je me lance: <code>cp fr_new /etc/X11/xkb/symbols/macintosh/</code></p>

<p>puis, histoire de vérifier le bon fonctionnement: <code>setxkbmap fr_new</code></p>

<p>Ca marche !</p>

<p>Bien, maintenant, mise à jour du fichier xorg.conf pour une prise au prochain redémarrage de X.</p>

<pre>
  {% highlight bash %}
    Section "InputDevice"
           Identifier  "Keyboard0"
           Driver      "keyboard"
           Option      "Protocol"  "standard"
           Option      "XkbRules"  "xorg"
           Option      "XkbModel"  "macintosh"
           Option      "XkbLayout" "fr_new"
    EndSection
  {% endhighlight %}
</pre>

<p>Petit remplacement du <code>&quot;XkbLayout&quot; &quot;fr&quot;</code> en <code>&quot;XkbLayout&quot; &quot;fr_new&quot;</code>.</p>

<p>Je pense que je reviendrais sur le contenu de ces fichiers. Histoire d&rsquo;en apprendre plus, et peut-être de modifier un peu le mapping à ma convenance.</p>

<p>Le principal c&rsquo;est que je peut faire {[|]} !</p>

<article>


<footer style="font-size:75%;text-align:right"><em><a href="/feed.xml">suivre les articles</a></em></footer>
</body>
</html>


