<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="generator" content="Hugo 0.22.1" />
    <meta charset="utf-8">
    <title>Yannick François - Elsif.fr</title>

    <meta name="DC.title" content="elsif.fr, site de Yannick François aka yaf (ou ya_f)."/>
    <meta name="description" content="Le site de Yannick François. Développeur Senior, Responsable Produit, Pédagogue. Je travail chez Scopyleft"/>
    <meta name="keywords" content="code, développement, programmation, apprentissage, apprendre, lean, agile, logiciel, tdd, objet, refactoring, libre, creative commons, linux, unix"/>
    <meta name="author" content="Yannick François, https://elsif.fr"/>
    <meta name="designer" content="Yannick François, https://elsif.fr"/>
    <meta name="geo.placename" content="Poissy, Ile de france, France"/>
    <meta name="robots" content="index,follow" />
    <meta name="language" content="French" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="index" title="Yannick François / Développeur / Pédagogue" href="index.html" />
    <link rel="stylesheet" href="/css/201912-elsif.css" media="all"/>
    <link rel="alternate" type="application/rss" href="/feed.xml" title="elsif.fr/feed" />
  </head>
  <body>
    <article>
      <h1>OpenBSD 4.5-current</h1>
      <p>Le gestionnaire de version d’<a href="http://openbsd.org">OpenBSD</a> vient de voir un tag 4.5 arrivé. Comme d’habitude c’est <a href="http://fr.wikipedia.org/wiki/Th%C3%A9o_de_Raadt">Théo</a> qui le pose tranquillement:</p>
      <pre>
        {% highlight bash %}
          CVSROOT:  /cvs
          Module name:  src
          Changes by: deraadt@cvs.openbsd.org 2009/02/28 19:21:07
      
          Modified files:
          sys/conf       : newvers.sh
      
          Log message:
          move to 4.5-current
        {% endhighlight %}
      </pre>
      <p>Et hop, voilà le travail. Comme d’habitude, cela annonce le gèle des ports prochain jusqu’à la sortie le 1er mai de cette nouvelle version. Les possibilités de pré-commande ne vont pas tarder à apparaitre également.</p>
      <p>Je suis impatient de voir quel thème va être associé à cetet version. J’ai adoré le précédent basé sur <a href="http://fr.wikipedia.org/wiki/Starwars">starwars</a>:</p>
      <p><a href="http://openbsd.org/44.html"><img src="http://www.openbsd.org/images/SourceWars.jpg" alt="OpenBSD 4.4 cover" /></a></p>
      <p><em>via le journal officiel d’OpenBSD: <a href="http://undeadly.org/cgi?action=article&amp;sid=20090304031205">undeadly.org</a></em></p>
    </article>
    <footer>
      <ul>
            </ul>
    </footer>
  </body>
</html>

